body {
  font: 10px sans-serif;

}

label {
    color: "pink";
}

path
{
    fill: none;
    stroke: #000;
    background-color: "pink";
}

.line {
  fill: none;
  stroke: pink;
  stroke-width: 3.5px;
}
